@import "tailwindcss";

@theme {
  /* DEFINICIÓN DE COLORES MIPIEL VIBRANTES */
  --color-primary: #E5007E;    /* Fucsia más intenso y vibrante */
  --color-secondary: #9F5FB1;  /* Púrpura de contraste */
  --color-foreground: #2B2E35; 
  --color-background: #FFFFFF; 
  
  --font-serif: var(--font-serif);
}

/* --- ESTILOS BASE --- */
:root {
  background-color: #FFFFFF;
  color: #2B2E35;
}

body {
  background-color: white;
  color: #2B2E35;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

/* Selección de texto con el nuevo Fucsia */
::selection {
  background-color: #E5007E;
  color: white;
}

/* Scrollbar con el nuevo Fucsia */
::-webkit-scrollbar-thumb {
  background: #E5007E;
  border-radius: 10px;
}